img{
  width: 26px;
  height: 40px;
  border-radius: 10px;
}


/*************************************/
mat-list::before{

  filter: blur(7px);

}

mat-list-item{

box-shadow: 0 0 7px 1px gray;

}

.blur {
}
.blur::before {
  position: absolute;
  content: "";
  background-image: url("src/assets/employe/white.jpg");
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  background-repeat:round;
  filter: blur(12px);
}
