<h2 class="head">Remplir le formulaire ci-dessous pour Modifier {{user.username}}</h2>
<div style="margin-left: 23px"><p style="color: red">remarque : il faut remplir tout les champs pour avoir le button de modification</p></div>
<div class="lol">


  <form style="margin-left: 50px" [formGroup]="userForm" >


    <br>
    <label>
      Email:
      <input type="email" formControlName="email" class="form-control" [(ngModel)]="user.email"  placeholder="name@example.com" >
      <div *ngIf="email.errors && email.touched">
        <div class="alert-danger" *ngIf="name.errors.required">this is required</div>
      </div>
    </label>
    <br>


    <label>
      username:
      <input type="text" formControlName="username" [(ngModel)]="user.username" class="form-control" >
      <div *ngIf="name.errors && name.touched">
        <div class="alert-danger" *ngIf="name.errors.required">this is required</div>
      </div>
    </label>


    <br>
    <label>
      password:
      <input type="text" formControlName="password" [(ngModel)]="user.password" class="form-control" >
      <div *ngIf="password.errors && password.touched">
        <div class="alert-danger"  *ngIf="password.errors.required">this is required</div>
        <div class="alert-danger"  *ngIf="password.errors.minlength">minlength for password is 8</div>
      </div>
    </label>

    <br>
    <label for="sel1" >Select list:</label>
    <select  formControlName="profession" id="sel1" style="width: 210px" #seleted (click)="log(seleted.value)" class="form-control">
      <option>Administrateur</option>
      <option selected>Professeur</option>
      <option>Directeur</option>
      <option>Manager</option>
    </select>



    <br>
    <label>
      description:
      <textarea type="text" formControlName="description" [(ngModel)]="user.description" class="form-control"
                placeholder="description"></textarea>
    </label>


  </form>
  <br>

<button  class="btn btn-primary" style="margin-left: 50px"
         *ngIf="userForm.valid" (click)="modifierUser()" >Modifier</button>





</div>
